.hidden {
  display: none;
}

article img  {
  max-width: 15%;

  float: left;
  padding: 10px;

}
div {
  margin: 10px;
}

summary {
  cursor: pointer;
  background-color: rgb(236, 164, 236);
  padding: 10px;

}

